.my-input-number {
  width: 142px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  display: inline-flex;
  user-select: none;
  box-sizing: border-box;
}
.my-input-number .my-input {
  position: relative;
  font-size: 14px;
  line-height: 38px;
  width: 60px;
  box-sizing: border-box;
  border-left: 1px solid #dcdfe6;
  border-right: 1px solid #dcdfe6;
  text-align: center;
}
.my-input-number .decrease,
.my-input-number .increase {
  width: 40px;
  height: 38px;
  text-align: center;
  background: #f5f7fa;
  color: #606266;
  cursor: pointer;
  font-size: 13px;
  appearance: none;
  border: none;
}
.my-input-number .disabled{
  color: #c0c4cc;
  cursor: not-allowed;
}
